#mainpane{
        -fx-background-image: url("tlo.jpg");
        -fx-background-repeat: stretch;   
        -fx-background-size: 900 506;
        -fx-background-position: center center;
        -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
    }
#scoreboard{
        -fx-background-image: url("tlo.jpg");
        -fx-background-repeat: stretch;   
        -fx-background-size: 900 506;
        -fx-background-position: center center;
        -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
    }
#newName{
    -fx-background-color:#B7DBB7;
    -fx-text-fill: #222222;
}
.button {
    -fx-background-color:#3b7e3b;
}
.button:hover {
    -fx-background-color: #072f07;
    -fx-text-fill: aliceblue;

}
